.container {
    background-color: aquamarine;
    /* height: 200px; */
    display: flex;
    /* display: inline-flex; */
    /* flex-direction: row-reverse; */
    flex-direction: row;
    /* flex-direction: column; */
    /* flex-direction: column-reverse; */
    justify-content: center;
    /* justify-content: space-between; */
    /* justify-content: end; */
    /* justify-content: flex-end; */
    /* justify-content: flex-start; */
    /* justify-content: space-around; */
    align-items: baseline
}

.container div {
    background-color: violet;
    width: 100px;
    height: 10px;
    margin: 10px;
    padding: 10px;
    text-align: center;
}