.container {
    background-color: cornflowerblue;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    grid-template-rows: 1fr 2fr;
    gap: 10px;
    
}

.container div {
    background-color: brown;
    text-align: center;
    /* color: cadetblue; */
    padding: 10px;
    border: 1px solid black;
}

.item1 {
    grid-column-start: 1;
    grid-column-end: 3;
}

.item4 {
       grid-column-start: 2;
    grid-column-end: 4;
}

.item3 {
   grid-column-start: 2;
    grid-column-end: 4;
}